
<% if @current_user %>
  <h3>Hello, <%= @current_user.email %></h3>
<% end %>

<h3>Update Your Account Info</h3>

<%= form_tag "/view-account/edit" do %>
<input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>" />
<div>
  <%= label_tag :email %>
  <%= email_field "user[email]", nil, placeholder: "email", class: "text-field" %>
</div>
<div>
  <%= label_tag :password %>
  <%= password_field "user[password]", nil, placeholder: "update password", class: "text-field" %>
</div>
<%= submit_tag "Update" %>
<% end %>
