<p>Please review your order</p>
<div class = "user_info">

  <form action= "/cart/update-order" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div>
        <h4>
          <label for="name">Name</label>
        </h4>
          <input type="text" id = "name" name="name"  />
      </div>
      <div>
        <h4>
          <label for="address">Address</label>
        </h4>
          <input type="text" id = "address" name="address"  />
      </div>
      <div class="update">
        <input type="submit" value="Check Out" />
      </div>
  </form>




</div>

<div class = "summary">


<% @items.each do |n| %>
  <div class = "col-lg-10">
    <div>
      <h4>Item:</h4>
      <h4 class="item" ><%= n.product_option.name %></h4>
      <h4>Quantity:</h4>
      <h4><%= n.quantity %></h4>
      <h4>Price Each:</h4>
      <h4><%= number_to_currency n.product_option.price_in_cents.to_f/100 %></h4>
      <h4>Item Total:</h4>
      <h4><%= number_to_currency (n.product_option.price_in_cents * n.quantity.to_f/100)  %></h4>
    </div>
  </div>
<% end %>
<h3>Items in cart = <% total_items = 0 %>
                    <% @items.each do |n| %>
                    <% total_items += n.quantity  %>
                    <% end %>
                    <%= total_items %></h3>

<h3>Order total=
  <% sum = 0  %>
  <% @items.each do |n| %>
  <% p = (n.product_option.price_in_cents * n.quantity) %>
  <% sum += p  %>
  <% end %>
  <%= number_to_currency sum.to_f/100 %>
</h3>

</div>
