
<p>Please review your order</p>
<div class = "user_info">

  <form action= "/cart/update-order" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <% @items.each do |p| %>
    <input type="hidden" name="order[total]" value="<%= [p.product_option.price_in_cents * p.quantity].sum %>" />
    <% end %>
      <div>
        <h4>
          <label for="name">Name</label>
        </h4>
          <input type="text" id = "name" name="name"  />
      </div>
      <div>
        <h4>
          <label for="address">Address</label>
        </h4>
          <input type="text" id = "address" name="address"  />
      </div>
      <div class="update">
        <input type="submit" value="Check Out" />
      </div>
  </form>




</div>

<div class= "items_in_cart">

<table width="100%">
  <th>Item</th>
  <th>Quantity</th>
  <th>Price Each</th>
  <th>Item Total</th>
    <% @items.each do |n| %>
    <tr>
    <td><%= n.product_option.name %></td>
    <td><%= n.quantity %></td>
    <td><%= number_to_currency n.product_option.price_in_cents.to_f/100%></td>
    <td><%= number_to_currency  n.product_option.price_in_cents.to_f/100 * n.quantity.to_f  %></td>
  </tr>
    <% end %>

</table>

</div>
