<h2>Shopping Cart</h2>

<div class= "items_in_cart">


  <% @items.each do |n| %>
    <div class = "col-lg-10">
      <div>
        <h4>Item:</h4>
        <h4 class="item" ><%= n.product_option.name %></h4>
        <h4>Quantity:</h4>
        <h4><%= n.quantity %></h4>
        <h4>Price:</h4>
        <h4><%= number_to_currency n.product_option.price_in_cents.to_f/100 %></h4>
      </div>
    </div>
  <% end %>
  <h3>Items in cart = <%= @items.count %></h3>

  <h3>Order total=
    <% sum = 0  %>
    <% @items.each do |n| %>
    <% p = n.product_option.price_in_cents %>
    <% sum += p  %>
    <% sum.to_f/100  %>
    <% end %>
    <%= number_to_currency sum.to_f/100 %>
  </h3>


</div>
