<div class="container">


  <h2>Edit Product Options</h2>

  <%= form_tag "/admin/product-options/edit" do %>

  <div>
    <%= label_tag :name %>
    <%= text_area_tag "product_option[name]", nil, placeholder: "name", class: "text-field" %>
  </div>
  <div>
    <%= label_tag :price_in_cents %>
    <%= text_area_tag "product_option[price_in_cents]", nil, placeholder: "price in cents", class: "price_in_cents" %>
  </div>




  <%= submit_tag "Update Options" %>

  <%end%>
  
</div>
