
<%= @product.name %>
<%= @product.description %>

<h2>Add Product Options</h2>

<%= form_tag "/admin/product-options/edit/#{@product.id}" do %>

<div>
  <%= label_tag :name %>
  <%= text_area_tag "product_option[name]", nil, placeholder: "name", class: "text-field" %>
</div>
<div>
  <%= label_tag :price_in_cents %>
  <%= text_area_tag "product_option[price_in_cents]", nil, placeholder: "price in cents", class: "price_in_cents" %>
</div>
<input type="hidden" name="product_option[product_id]" value="<%= @product.id %>" />



<%= submit_tag "Add  Options" %>

<%end%>


<table class="table">
<tr><td colspan="7" class="title"><h3><%= @product.name %></h3></td></tr>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
      <% @product_options.each do |n| %>
        <% if n.product_id == @product.id %>
      <tr>
        <td> <%= n.name %> </td>
        <td> <%= n.price_in_cents %>
          <div class="buttons">
            <td>
            <li>
              <form action="/admin/product-options/edit/<%= @product.id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="GET" />
                <input class="button" type="submit" value="Edit" />
              </form>
            </li></td>
            <td><li>
              <form action="/admin/product-options/edit/<%= n.id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="DELETE" />
                <input class="button" type="submit" value="Delete" data-confirm="Delete the data?"/>
              </form>
            </li></td>
          </div>
      </tr>
  
      <% end %>
    <% end %>
</table>
