

<div class="header">
  <h3>logo</h3>
  <h3>cart</h3>
  <h3> <%= link_to "sign up", :new_user %></h3>
  <h3>sign in</h3>
  <h3>view account</h3>
  <h3>Admin Products</h3>
  <h3>Admin Order</h3>
</div>





<% if @current_user %>
  <h3>Hello, <%= @current_user[:email] %></h3>
<% end %>


<!--
In the header on all pages
I can click the logo/title to return to the homepage
I can click a link to my cart which contains the number of items in my cart, which takes me to a cart page
As a guest I can click a link to view a sign up page
As a guest I can click a link to view a sign in page
As a logged in user I cannot see a link to view a sign up or sign in page
As a logged in user I can click a link to view my account page
As a guest I cannot see a link to view my account page
As an admin I can see a "Products" link which takes me to the admin product management page
As an admin I can see a "Order" link which takes me to the admin order management page -->


<table class="table six columns">
<tr><td colspan="7" class="title"><h3>Brewskies!</h3></td></tr>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
  </tr>
    <% @products.each do |n| %>
      <tr>
        <td> <%= n.name %> </td>
        <td> <%= n.description %>
        <td> <%= image_tag n.image_url %> </td>
      </tr>
    <% end %>
</table>
