

<header class="jumbotron hero-spacer">
  <% if @current_user %>
    <h1>Welcome, <%= @current_user[:email] %></h1>
    <% else %>
    <h1>Welcome!</h1>
  <% end %>
    <p>Brewskies is the place to be for all of your craft beer needs. Looking for an Imperial IPA? We've got that! A dark smokey stout? Just search below. We're happy you're here. Cheers! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p><%= link_to "Sign Up", :new_user, class:"btn btn-primary btn-large" %></p>
</header>


<hr>

<div class="row">
  <div class="col-lg-12">
    <h3>Featured Brews</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% @products.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |product| %>
          <div class="product col-md-3 thumbnail">
            <%= link_to (image_tag product.image_url), "/product/options/#{product.id}"  %>
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <p><%= link_to "More Info", "/product/options/#{product.id}" %></p>
          </div>
          <% end%>
        </div>
      <% end%>

    </div>

  </div>

</div>
