
<table class="table">
<tr><td><h3><%= @product.name %></h3></td></tr>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
      <% @product_options.each do |n| %>
        <% if n.product_id == @product.id %>
      <tr>
        <td> <%= n.name %> </td>
        <td> <%= number_to_currency n.price_in_cents.to_f/100 %>
        <td>
        <li>
          <%= form_tag "/cart/#{n.product_id}" do %>
            <input type="hidden" name="item[product_option_id]" value="<%= n.id %>" />
            <%= select_tag "item[quantity]", options_for_select([1,2,3,4,5])  %>
            <input type="hidden" name="item[price]" value="<%= n.price_in_cents %>" />
            <%= submit_tag "Add to Cart" %>
          <% end %>
        </li></td>
      </tr>
      <% end %>
    <% end %>
</table>



<!-- #add something to cart, creates order and adds that item to it. New instance of order- saves order id into session. If same session, adds to same cart. -->
