<!DOCTYPE html>
<html>
<head>
  <title>Brewsky</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <%= link_to (image_tag "ladybeer.jpg"), "/", class:"logo" %></h3>
    <h1>Brewskies!</h1>
    <div class="links">
      <% if @current_user %>
        <h3><%= link_to "View Account", "/view-account/#{@current_user.id}", class:"account" %></h3>
        <h3><%= link_to "Sign Out", sign_out_path, class:"sign_out"  %></h3>
        <h3> <%= link_to "Cart", :orders %></h3>
      <% else %>
        <h3 class="appear">Sign In</h3><%= form_tag "/sign-in", class:"disappear", style:"display:none" do %>
        Email Address
        <%= text_field_tag :email %>
        Password
        <%= password_field_tag :password%>
        <%= submit_tag "Sign In" %>
        <% end %>
        <h3> <%= link_to "Sign Up", :new_user %></h3>
      <% end %>
      <% if @current_user && @current_user.admin? == true %>
        <%= link_to "Admin Products", :products, class:"admin" %>
        <%= link_to "Admin Order", "/admin-order", class:"admin-order" %>
      <% end %>

    </div>
  </div>

<%= yield %>

</body>
</html>
